//- https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps
        //- github.com/settings
        //-https://github.com/login/oauth/authorize?client_id=fa14bb067ce36767aeb5&allow_signup=false&scope=user:email
div.social-login
    a(href="/users/github/start").social__btn.social__btn--github
        i.fab.fa-github
        |  Continue with Github &rarr;
